body{
    background-color: darkslategray;
    margin:0px;
}

.centerChildrenHorizontally {
    display: flex;
    justify-content: center;
}

#displayHolder {
    margin-top:50px;
}

#display {
    border:1px solid white;
    background-color:rgb(86, 87, 116);
}

#logger {
    border: 1px solid white;
    background-color:rgb(86, 87, 116);
    width: 50%;
    text-align: center;
    color: lightgreen;
    visibility: hidden;
}

#GenerationTag {
    text-align: center;
    color:white;
}